$color-border: #d8d8d8;
$color-red: #da3238;
$color-blue: #357dde;
$color-gray: #f8f8f8;
$screen-width: 1140px;
$header-top: 21px;
$color-title: #555;

a:hover {
  text-decoration: none;
}

// Main Warp
.main {
  min-height: 100%;
  height: 100vh;
  width: 100%;
  position: relative;
}

// Header
.header {
  height: 90px;
  display: block;
  border-bottom: 1px solid $color-border;

  .header-warp {
    position: relative;
    max-width: $screen-width;
    height: 100%;
    margin: 0 auto;

    h1 {
      color: #222;
      position: absolute;
      left: 0;
      top: $header-top;

      span:nth-child(1) {
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 8px;
        display: inline-block;
      }

      span:nth-child(2) {
        margin-left: 2px;
        font-size: 12px;
        font-weight: 800;
        padding: 3px 5px 0 10px;
        position: absolute;
        top: 18px;
        background: $color-blue;
        color: white;
        letter-spacing: 5px;
        box-shadow: 7px 5px 5px #357ddec2;
      }


      :hover {
        color: #222;
      }
    }

    .header-nav {

      position: absolute;
      left: 250px;
      top: $header-top + 12px;

      ul {
        display: flex;
        flex-direction: row;

        li {
          width: auto;
          padding: 0 20px;

          &:nth-child(1) a {
            font-weight: 700;
          }

          &:nth-child(2) > a {
            font-weight: 500;
          }

          a {
            color: #222;
            font-size: 22px;
            letter-spacing: 2px;

          }
        }
      }
    }

    .button-group {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      right: 0;
      top: $header-top + 4px;

      button + button {
        margin-left: 8px;
      }
    }

  }
}

// Content
.container {
  max-width: $screen-width;
  margin: 0 auto;
  border-top: none;
  padding: 40px 0;

  .wrap {
    display: flex;
    height: 100%;
    flex-direction: row;
    max-width: $screen-width;
    box-sizing: border-box;
    margin: 0 auto;

    .main-content {
      width: calc(100% - 300px);
      min-height: 500px;

      .title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        .main-title {
          font-size: 40px;
          font-weight: 800;
          text-align: center;
          margin: 70px 0;
          color: $color-title;
        }
        .main-title+.main-title {
          margin-left: 20px;
        }
      }
    }

    .aside {
      width: 300px;
      margin-left: 64px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .aside-ranking {
        margin-bottom: 24px;
        padding: 40px 30px;
        background-color: #fff;
        min-height: 510px;
        display: flex;
        flex-direction: column;
        border: 1px solid $color-border;

        p {
          margin-top: 15px;
          color: #999;
          &::before {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 10px;
            vertical-align: -4px;
            content: "";
            background: url(../image/ico.png) 0 0 no-repeat;
            background-position: -49px 0;
            background-size: 400px auto;
          }
        }

        h1 {
          padding-bottom: 15px;
          padding-left: 10px;
          font-size: 18px;
          font-weight: 800;
        }

        .inner {

          .rank {
            width: 100%;
            padding: 7px 3px;
            box-sizing: border-box;
            position: relative;
            cursor: pointer;

            .status {
              display: inline-block;
              border-top: 5px solid transparent;
              border-right: 8px solid transparent;
              border-bottom: 5px solid transparent;
              width: 0;
              height: 0;
              position: absolute;

              &.up {
                border-left: 8px solid $color-red;
                transform: rotate(-90deg);
                top: 6px;
                right: 10px;
              }
              &.down {
                border-left: 8px solid $color-blue;
                transform: rotate(-270deg);
                top: 14px;
                right: 10px;
              }
              &.normal {
                border: 0;
                border-top: 3px solid #95969b;
                width: 8px;
                top: 13px;
                right: 14px;
              }
            }



            em {
              display: inline-block;
              width: 20px;
              margin-right: 10px;
              font-weight: 900;
              color: #94969b;
              text-align: center;
              vertical-align: middle;
              font-size: 12px;
            }

            .rank-name {
              display: inline-block;
              vertical-align: middle;
              letter-spacing: 1px;
              font-weight: 500;
              color: #222;
              font-size: 14px;
              &:hover {
                color: #222;
              }
            }
          }
        }
      }
    }
  }
}

// Footer
.footer {
  width: 100%;
  display: block;

  .footer-top {
    width: 100%;
    border-top: 1px solid $color-border;

    .footer-warp {
      max-width: $screen-width;
      margin: 0 auto;

      .footer-notice {
        padding: 18px 0;

        .text-over {
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;

          strong {
            margin-right: 25px;
            font-size: 16px;
            font-weight: bold;
            font-family: 'Montserrat', sans-serif;
            color: #494949;
          }

          a {
            font-size: 14px;
            color: #494949;
          }
        }
      }
    }
  }

  .footer-bottom {
    width: 100%;
    border-top: 1px solid $color-border;

    .footer-warp {
      max-width: $screen-width;
      margin: 0 auto;

      .footer-inner {
        padding: 39px 0 50px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .footer-lst {

          .footer-item {
            display: inline;
            margin-right: 37px;

            .footer-link {
              font-size: 14px;
              line-height: 18px;
              color: #999;
            }
          }
        }

        .footer-sub-lst {
          float: right;
          font-family: 'Montserrat', sans-serif;

          .footer-sub {
            float: left;
            position: relative;
            margin-left: 59px;

            a {
              color: #999;
              font-size: 14px;

              &::after {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 3px 0 0 7px;
                vertical-align: top;
                content: '';
                background: url(../image/ico.png) 0 0 no-repeat;
                background-position: -33px 0;
                background-size: 400px auto;
              }

              span {
                vertical-align: top;
                font-weight: 500;
              }
            }
          }
        }

        .copyright {
          width: 100%;
          padding-top: 30px;
          clear: both;
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          color: #999;
        }
      }
    }
  }


}