@import "layout";

@media screen and (max-width: 1100px) {
  // header
  .header {
    height: 70px;

    .header-warp {
      h1 {
        left: 40px;
        top: 20px;

        span:nth-child(1) {
          font-size: 25px;
          letter-spacing: 8px;
        }

        span:nth-child(2) {
          margin-left: 0;
          font-size: 12px;
          padding: 3px 5px 0 8px;
          top: 8px;
          letter-spacing: 3px;
          box-shadow: 7px 5px 5px #357ddec2;
        }
      }

      .button-group {
        top: $header-top;
        right: 40px;

        button {
          font-size: 14px;
          padding-top: 3px;
          width: 70px;
          height: 35px;
        }

        button + button {
          margin-left: 8px;
        }
      }
    }
  }

  // content
  .wrap {
    display: flex;
    height: 100%;
    flex-direction: column !important;
    max-width: 100%;
    align-items: center;

    .main-content {
      width: 100% !important;
      min-height: auto !important;
      padding: 0 10%;

      .title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .main-title {
          font-size: 25px !important;
        }

        .main-title + .main-title {
          margin-left: 20px;
        }
      }

      .realtime-wrap {
        display: none;
      }
    }

    .aside {
      width: 100% !important;
      margin-left: 0 !important;
      margin-top: 50px;
      padding: 0 10%;

      .aside-ranking {
        min-height: auto !important;
      }
    }

    .auth-wrap {
      padding: 0 50px;

      h3 {
        margin-left: -140px;
      }

      form {
        min-width: 300px;
        margin: 20px auto 30px;
      }
    }
  }

  // footer
  .footer {
    .footer-top {
      .footer-warp {
        .footer-notice {
          padding: 18px 10%;
        }
      }
    }

    .footer-bottom {
      width: 100%;
      border-top: 1px solid $color-border;

      .footer-warp {
        max-width: $screen-width;
        margin: 0 auto;

        .footer-inner {
          padding: 39px 10% 50px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .footer-lst {
            display: flex;
            flex-direction: row;

            .footer-item {
              display: inline;
              margin-right: 37px;

              .footer-link {
                font-size: 14px;
                line-height: 18px;
                color: #999;
              }
            }
          }

          .footer-sub-lst {
            float: none;
            display: flex;
            flex-direction: row;
            margin-top: 20px;

            .footer-sub + .footer-sub {
              margin-left: 25px;
            }

            .footer-sub {
              float: none;
              position: relative;
              margin-left: 0;

              a {
                color: #999;
                font-size: 14px;

                &::after {
                  display: inline-block;
                  width: 16px;
                  height: 16px;
                  margin: 3px 0 0 7px;
                  vertical-align: top;
                  content: '';
                  background: url(../image/ico.png) 0 0 no-repeat;
                  background-position: -33px 0;
                  background-size: 400px auto;
                }

                span {
                  vertical-align: top;
                  font-weight: 500;
                }
              }
            }
          }

          .copyright {
            width: 100%;
            padding-top: 20px;
            clear: both;
            font-size: 14px;
            color: #999;
          }
        }
      }
    }


  }

  .modal-alert {
    .ant-modal-header {
      padding: 35px 45px 35px;
    }
  }

  .ant-modal-body {
    padding: 0 35px;
    font-size: 13px;
  }

  .modal-favorite {
    padding: 0 50px;
  }

  .modal-company {
    .ant-modal-body {
      padding: 0 50px;
    }
  }

}

@media screen and (max-width: 500px) {
  // header
  .header {
    height: 70px;

    .header-warp {
      h1 {
        left: 25px;
        top: 18px;

        span:nth-child(1) {
          font-size: 24px;
          letter-spacing: 6px;
        }

        span:nth-child(2) {
          margin-left: 0;
          font-size: 10px;
          padding: 2px 3px 0 5px;
          top: 10px;
          letter-spacing: 3px;
          box-shadow: 5px 5px 5px #357ddec2;
        }
      }

      .button-group {
        right: 25px;
        top: $header-top - 2px;

        button {
          font-size: 12px;
          padding-top: 3px;
          width: 60px;
          height: 34px;
        }

        button + button {
          margin-left: 5px;
        }
      }
    }
  }

  // content
  .wrap {
    display: flex;
    height: 100%;
    flex-direction: column !important;
    max-width: 100%;
    align-items: center;
    margin-top: 30px !important;

    .main-content {
      width: 100% !important;
      min-height: auto !important;
      padding: 0 10%;

      .title-wrap {
        display: flex;
        flex-direction: column !important;

        .main-title {
          margin: 0 !important;
          font-size: 25px !important;
          text-align: left !important;
        }

        .main-title + .main-title {
          margin-top: 20px !important;
          margin-bottom: 50px !important;
        }
      }

      .realtime-wrap {
        display: none;
      }
    }

    .auth-wrap {
      padding: 0 35px;

      form {
        min-width: 280px;
        margin: 20px auto 30px;

        label {
          margin-top: 10px;
        }
      }
    }

  }

  // modal-favorite
  .modal-favorite {

    .ant-modal-body {
      font-size: 13px;
      max-height: 350px;

      li {
        padding: 10px 0 !important;

        .favorite-name {
          font-size: 14px !important;
          font-weight: 600 !important;
        }

        .company-wrap {
          display: block !important;
          margin-left: 34px !important;

          img {
            width: 27px !important;
            height: 27px !important;
          }
        }

        .remove {
          top: 25px !important;
        }
      }
    }


  }
}



